body{
    margin: 0;
    background-color: rgb(203, 209, 191);
    text-align: left;
}
.image{
    width: 500px;
}
.font{
    color:darkgrey;
    font-size: 28pt;
    font-family: arial, "lucida console", sans-serif
}